
/***home***/
body{
	background-color: #292626;
	font-family: roboto condensed;
	color: #FBF8F8;
}

nav{
    border-style: solid;
    margin-top: 5%;
    background-color: #FBF8F8;
}

a{
    text-decoration: none;
    padding: 120px ;
    text-align: center;
}

h1 {
	font-size: 50px;
	text-align: center;
	color: #77C9CE;
}

  /*************/