
/***home***/
body{
	background-color: #292626;
	font-family: roboto condensed;
	color: #FBF8F8;
}

nav{
    border-style: solid;
    margin-top: 5%;
    background-color: #FBF8F8;
}

h1 {
	text-align:center;
	font-size:40px;
	color: #77C9CE;
}

a{
    text-decoration: none;
    padding: 120px ;
    text-align: center;
}

/*********photo**************/
.ContenuPhoto{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px; 
  position: relative;
  top: 20px;
  right: 15%; 
  color: #292626;
}

.image{
  height: 100%;
  width: 100%;
  box-shadow: 8px 8px 12px black,  -8px -8px 12px black ;
}

.lien{
  padding: 20px 20px;
  cursor: pointer;
  box-shadow: 8px 8px 12px black;
}

/*******bas de page******/

div{
  border-style: solid;
  color: #FBF8F8;
  position: absolute;
  top: 140%;
  margin-left: 33%;
  padding: 20px 20px 20px 20px;
}

div p{
  color: #FBF8F8;
}
