/* Color Pallete 
White : #FBF8F8
Black : #292626
Blue : #77C9CE */

body {
    color: #77C9CE; 
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #292626;
  }
  
  * {
    box-sizing: border-box;
  }

  .container {
      margin: 30px;
      padding: 30px;
  }

  /* Title */ 

  h1 {
      margin-top: 120px;
      margin-bottom: 120px;
      text-align: center;
      font-size: 60px;
      font-family: roboto condensed;
  }

  /* Header */ 

.img-container {
    background-color: rgba(227, 179, 57, 0.3); 
    background-image:url(img/back.png);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-container-nav {
    flex: 1;
    text-align: center;  
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.inner-container-title {
    flex: 1;
    text-align: center; /*try align left*/
    width: 100%;
    color: rgba(227, 179, 57, 0.9);
    height: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.arrow {
  font-size: 80px;
  color:#77C9CE;
}

.img-container h1 {
    font-size: 6em; /*consider 6em*/
    font-family: 'Roboto condensed', sans-serif;
    letter-spacing: 0.15em;
    flex: 1;
    transition: font-size 0.2s ease-out;
    color:#77C9CE;
}

.img-container h1:hover {
    font-size: 7em;
    color: #77C9CE;
    font-family: 'Roboto condensed', sans-serif;
    transition: font-size 0.2s ease-in, color 0.2s ease-in, font-family 0.2s ease-in;
}

.img-container h2 {
    margin-top: -2px;
    padding: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 0.1em;
    flex: 1;
    color:#77C9CE;
}

.img-container a {
    margin-top: 20px;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2em;
}

.btn {
    display: inline-block;
    width: 12%;
    padding: 10px;
    color: rgba(227, 179, 57, 0.3);
    border: 2px solid #FBF8F8;
    color:#FBF8F8;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, btn:active {
    color: #77C9CE;
    border: 2px solid #77C9CE;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

img.scroll {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

  /*ancien header*/

/*
.topimage {
    background-image: url(img/back.png);
    position: relative;
    text-align:center;
    opacity: 0.5;
}

.titlecentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-variant-caps: titling-caps;
    font-weight: 600;
    font-family: roboto condensed;
}

img {
    max-width: 100%;
}
*/

  /* Title */


  /* START OF GALLERY */

  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
 .gallery {
 	margin-left:40pt;
  margin-top: 40pt;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* END OF GALLERY */


  /* Bio */
  .bio {
      background-color: #77C9CE;
      padding: 30px 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 18px;
      color:#FBF8F8;
      margin-left: 10%;
      margin-right: 10%;
  }
  /* End of Bio */

  .life {
      background-color: #77C9CE;
      padding: 30px 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 200px;
      margin-right: 200px;
      font-size: 18px;
      color:#FBF8F8;
    }

/* Start of Container2 */

 .container2 {
     display: flex;
     justify-content: space-between;
 }
  
.inspo,
.accomplishments {
    background-color: #FBF8F8;
    color: #292626;
    padding: 25px;
    box-sizing: border-box;
    flex-basis: 45%;
  }

  .inspo h2,
  .accomplishments h2 {
      font-size: 25px;
      margin: 0;
      font-family: roboto condensed;
      color:#77C9CE;
  }

  .accomplishments li {
    list-style: none;
  }
  .accomplishments a {
      color: #292626;
      text-decoration: none;      
  }

  .accomplishments a:hover {
      color: #FBF8F8;
  }
/* End of container2*/


/* Start of Social Media */

  .social-media {
    background-color: #77C9CE;
    margin-top: 25px;
    margin-bottom: 25px;  
    display: flex;
    justify-content: space-between;
  }

  .social-media-childs {
    flex-basis: 15%;
    
  }

  .social-media li {
      list-style: none;
      font-size: 40px;
  }

  .social-media li a {
      color: #FBF8F8;
  }
/* End of Social media*/  


/* Google Maps */
.maps iframe {
    height: 50%;
    width: 100%;    
}

/* Start of Author */
.author {
    background-color: rgba(58, 58, 58, 0.3);
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.author-info {
    display: flex;
}

.author-info-sideA {
    flex-basis: 30%;
}
.author-info-sideB {
    flex-basis: 40%;
}

.author h2 {
    margin: 0;
    color: #FBF8F8;
    font-family: roboto condensed;
}

.author img {
	height: 70px;
	border: 1px solid white;

}
.author p {
    border: 1px solid white;
    height: 30px;
    color: #FBF8F8;
}

.author a {
    text-decoration: none;
    color: #FBF8F8;
    font-family: inherit;
    
}

.author a:hover {
    color: #77C9CE;
}

 /* End of Author */