/* Color Pallete 
White : #FBF8F8
Black : #292626
Blue : #77C9CE */

body {
    background-image: url("../BGIMGdraft.jpg");
    color: #77C9CE; 
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .container {
      margin: 30px;
      padding: 30px;
  }

  /* Title */ 

  h1 {
      margin-top: 120px;
      margin-bottom: 120px;
      text-align: center;
      font-size: 60px;
  }
  /* Title */


  /* START OF GALLERY */

  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
 .gallery {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  /* END OF GALLERY */


  /* Bio */
  .bio {
      background-color: rgba(58, 58, 58, 0.3);
      padding: 30px 50px;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 18px;
  }
  /* End of Bio */


/* Start of Container2 */

 .container2 {
     display: flex;
     justify-content: space-between;
 }
  
.inspo,
.accomplishments {
    background-color: rgba(58, 58, 58, 0.3);
    color: #77C9Ce;
    padding: 25px;
    box-sizing: border-box;
    flex-basis: 45%;
  }

  .inspo h2,
  .accomplishments h2 {
      font-size: 20px;
      margin: 0;
  }

  .accomplishments li {
    list-style: none;
  }
  .accomplishments a {
      color: #77C9Ce;
      text-decoration: none;      
  }

  .accomplishments a:hover {
      color: #FBF8F8;
  }
/* End of container2*/


/* Start of Social Media */

  .social-media {
    background-color: rgba(58, 58, 58, 0.3);
    margin-top: 25px;
    margin-bottom: 25px;  
    display: flex;
    justify-content: space-between;
  }

  .social-media-childs {
    flex-basis: 15%;
    
  }

  .social-media li {
      list-style: none;
      font-size: 40px;
  }

  .social-media li a {
      color: #FBF8F8;
  }
/* End of Social media*/  


/* Google Maps */
.maps iframe {
    height: 50%;
    width: 100%;    
}

/* Start of Author */
.author {
    background-color: rgba(58, 58, 58, 0.3);
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.author-info {
    display: flex;
}

.author-info-sideA {
    flex-basis: 30%;
}
.author-info-sideB {
    flex-basis: 40%;
}

.author h2 {
    margin: 0;
}

.author img,
.author p {
    border: 1px solid white;
    height: 30px;
    
}

.author a {
    text-decoration: none;
    color: #77C9CE;
    font-family: inherit;
    
}

.author a:hover {
    color: #FBF8F8;
}

 /* End of Author */